absl-py==2.0.0
aiohttp==3.8.6
aiosignal==1.3.1
anyio==4.2.0
appnope==0.1.3
argcomplete==3.1.2
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
blinker==1.6.2
boto==2.49.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
contourpy==1.1.1
cookiecutter==2.5.0
crcmod==1.7
cryptography==41.0.5
cssselect==1.2.0
cvzone==1.6.1
cycler==0.12.0
datacollector==0.0.7
debugpy==1.8.0
decorator==5.1.1
distlib==0.3.8
docopt==0.6.2
eutils==0.6.0
executing==2.0.1
fasteners==0.19
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.0
flatbuffers==23.5.26
fonttools==4.43.0
frozenlist==1.4.0
gast==0.5.4
gcs-oauth2-boto-plugin==3.0
google-apitools==0.5.32
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-reauth==0.1.1
grpcio==1.59.0
gsutil==5.27
h11==0.14.0
h5py==3.9.0
habanero==1.2.3
httplib2==0.20.4
humanfriendly==10.0
humanize==4.9.0
idna==3.4
imutils==0.5.4
iniconfig==2.0.0
ipykernel==6.29.0
ipython==8.20.0
ipyvue==1.10.1
ipyvuetify==1.8.10
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab-widgets==3.0.9
keras==2.14.0
kiwisolver==1.4.5
Levenshtein==0.23.0
libclang==16.0.6
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.5
Mesa==2.2.4
Mesa-Viz-Tornado==0.1.3
metapub==0.5.5
ml-dtypes==0.2.0
monotonic==1.6
multidict==6.0.4
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.0
oauth2client==4.1.3
oauthlib==3.2.2
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opt-einsum==3.3.0
packaging==23.2
pandas==2.1.1
parso==0.8.3
pexpect==4.9.0
Pillow==10.0.1
platformdirs==4.1.0
pluggy==1.4.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.17.2
pymdown-extensions==10.7
pyOpenSSL==23.3.0
pyparsing==3.1.1
pyproject-api==1.6.1
pyspark==3.5.0
pytest==8.0.0
python-dateutil==2.8.2
python-Levenshtein==0.23.0
python-slugify==8.0.2
pytz==2023.3.post1
pyu2f==0.1.5
PyYAML==6.0.1
pyzmq==25.1.2
rapidfuzz==3.6.1
reacton==1.8.2
referencing==0.33.0
requests==2.31.0
requests-oauthlib==1.3.1
retry-decorator==1.1.1
rich==13.7.0
rich-click==1.7.3
rpds-py==0.17.1
rsa==4.7.2
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.2
six==1.16.0
sniffio==1.3.0
solara==1.25.1
sounddevice==0.4.6
soupsieve==2.5
stack-data==0.6.3
starlette==0.36.1
tabulate==0.9.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl==3.2.0
tornado==6.4
tox==4.12.1
tqdm==4.66.1
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing_extensions==4.8.0
tzdata==2023.3
Unidecode==1.3.8
urllib3==2.0.6
uvicorn==0.27.0.post1
virtualenv==20.25.0
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.0
widgetsnbextension==4.0.9
wrapt==1.14.1
yarl==1.9.2
